* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
width: 100vw;
max-width: 100%;    
font-family: 'Koulen', cursive;
font-family: 'Poppins', sans-serif;
background-color: black;
color: aliceblue;
}
.logo {
height: 100%;

}
.header {
    background: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    
}
.nav-link {
    color: black;
    
}
.nav-link:hover {
    text-decoration: underline;
    
}

a {
    text-decoration: none;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    

}
.disco {
    width: 500px;
    height: auto;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
 .hero__text h1 {
     font-weight: 600;
     font-size: 2rem;
 }
.hero__text p {
    max-width: 450px;
}
.text__btns {
    margin-top: 2rem;
    display: flex;
    gap: 10px;

}
.btn {
    border: 2px solid blue;
    padding: 1rem 1.3rem;
    border-radius: 8px;
    font-weight: 600;
}

.btn__cta {
  background: blue;  
  color: white;
}

.btn__more {
    color: blue;
}

.disco {
    border-radius: 20px;
}

.info {
   margin: 200px;
   font-size: 50px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background: black;
   color: white;
  
}

.description-section {
    padding: 8rem 0;
    background: white;
    color: black;
  }
  
  .description-section h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  .description-section p {
    text-align: center;
    font-size: 1.5rem;
    max-width: 500px;
    margin: 2rem auto 10rem auto;
  }
  
  .info-card {
    width: 25%;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
   
  }